.card
  &__img
    position: relative
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba($dark, 0.3)
    
.desing
  &__text
    font-family: FuturaBookC
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 27px
    text-align: center
    color: #363636
  
    
    
      

