.card
  &__image
    
    &::before
    content: ''
    
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: #C4C4C4
.text
  font-family: FuturaBookC
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 27px
  text-align: center
    
    
      

